@model AddSalesFormModel

@{
    ViewData["Title"] = "Добавяне на Промоця";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="AddSales" method="post">

            <div class="mb-3">
                <label asp-for="@Model.ServiceId" class="form-label-add-edit">Select Service</label>
                <select asp-for="@Model.ServiceId" class="form-control" aria-required="true">
                    <option disabled selected value="">Select Service...</option>
                    @foreach (var service in Model.Services)
                    {
                        <option value="@service.Id">@service.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.ServiceId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model." class="form-label-add-edit">Description</label>
                <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.Price" class="form-label-add-edit">Price</label>
                <input asp-for="@Model.Price" class="form-control" />
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input class="btn mb-2 w-100 p-3 fw-bold" type="submit" value="Add Sales" />
            </div>
        </form>
    </div>
</div>
