@model List<ServiceViewModel>

@{
    ViewData["Title"] = "Всички услуги";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<hr/>

<div class="text-center row">
    @foreach (var service in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h4 class="card-title mt-1">@service.Name</h4>
                <h5 class="card-title mt-1">@service.Price</h5>
                <p class="card-title mt-1">@service.Description</p>
            </div>

            <form asp-controller="Administrator" asp-action="EditService" method="get">
                <input type="hidden" name="id" value="@service.Id" />
                <button type="submit" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit Service</button>
            </form>

            <form asp-controller="Administrator" asp-action="DelateService" method="post">
                <input type="hidden" name="id" value="@service.Id" />
                <button type="submit" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Delate Service</button>
            </form>
        </div>
    }
</div>
