@model List<OrdersViewModel>

@{
    ViewData["Title"] = "Поръчки";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<hr />

<div class="text-center row">
    @foreach (var order in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h4 class="card-title mt-1">Услуга: @order.Service.Name</h4>
                <h5 class="card-title mt-1">Име на клиента: @order.User.FirstName  @order.User.LastName</h5>
                <h5 class="card-title mt-1">Телефон: @order.PhoneNumber</h5>
                <h5 class="card-title mt-1">Имейл: @order.Email</h5>
                <p class="card-title mt-1">Описатие: @order.Description</p>
            </div>

            <form asp-controller="Order" asp-action="DeleteOrder" method="post">
                <input type="hidden" name="id" value="@order.Id" />
                <button type="submit" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Delete order</button>
            </form>

        </div>

    }
</div>
