@model List<ReservationViewModel>

@{
    ViewData["Title"] = "Резервации";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<hr/>

<div class="text-center row">
    @foreach (var reservation in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h4 class="card-title mt-1">Услуга: @reservation.Service.Name</h4>
                <h5 class="card-title mt-1">Име на клиента: @reservation.User.FirstName  @reservation.User.LastName</h5>
                <h5 class="card-title mt-1">Телефон: @reservation.PhoneNumber</h5>
                <h5 class="card-title mt-1">Имейл: @reservation.Email</h5>
                <p class="card-title mt-1">Описатие: @reservation.Description</p>
            </div>

            <form asp-controller="Order" asp-action="DeleteReservation" method="post">
                <input type="hidden" name="id" value="@reservation.Id" />
                <button type="submit" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Delete Reservation</button>
            </form>
        </div>
    }
</div>

