@model List<MechanicsViewModel>

@{
    ViewData["Title"] = "Всички Механици";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<hr />

<div class="text-center row">
    @foreach (var mechanic in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h4 class="card-title mt-1">@mechanic.FirstName</h4>
                <h5 class="card-title mt-1">@mechanic.LastName</h5>
                <h5 class="card-title mt-1">@mechanic.Email</h5>
                <h5 class="card-title mt-1">@mechanic.PhoneNumber</h5>
            </div>

            <form asp-controller="Administrator" asp-action="DeleteMechanic" method="post">
                <input type="hidden" name="id" value="@mechanic.Id" />
                <button type="submit" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Delete Mechanic</button>
            </form>

        </div>
    }
</div>
